    <!-- template -->
    <!-- <ng-template #imageTemplate>
        <div class="example-image-container">
          <div class="example-image pdi-icon-Images"></div>
        </div>
      </ng-template>
  
      <label>Image Card</label>
      <pdi-card header="Label Header" (ctaButtonInteractions)="clicked()"
                [ctaButtonsConfiguration]="[{ id: 'cta', label: 'CTA' }]" [superHeaderContent]="imageTemplate">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis
      </pdi-card>
  
      <pdi-card header="Label Header" (ctaButtonInteractions)="clicked()"
                [ctaButtonsConfiguration]="[{ id: 'cta', label: 'CTA' }]" [superHeaderContent]="imageTemplate">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis
      </pdi-card>
  
      <label>List Card (Custom Layout Card)</label>
      <div class="pdi-box-shadow__low" style="display: flex; align-items: stretch">
        <div style="display: flex; background-color: #f7f7fb; justify-content: center; align-items: center; min-height: 160px">
          <i style="font-size: 90px; padding: 0 27px" class="pdi-icon-Images"></i>
        </div>
        
      </div>
      <br>
      <pdi-badge>new</pdi-badge>
      <pdi-badge>most viewed</pdi-badge>
      <pdi-badge>most popular</pdi-badge>

<br>

<pdi-badge [badgeStatus]="'error'">alert</pdi-badge>
<pdi-badge [badgeStatus]="'warning'">warning</pdi-badge>
<pdi-badge [badgeStatus]="'success'">complete</pdi-badge>

<br> -->
<pdi-filter-chip style="max-width: 280px"
[selected]="true"
value="Maximum width for filter chip is 280px"></pdi-filter-chip>



            



    