/* .example-image {
    font-size: 4rem;
    width: 55px;
    height: 55px;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .example-image-container {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
  } */