<!-- <label>With Eyebrow Labels</label>
<pdi-accordion-group>
  <pdi-accordion [expanded]="true" title="Label Title">
    <label class="pdi-body-eyebrow">Eyebrow Label (Optional)</label>
    Fuel ... agility.
    <label class="pdi-body-eyebrow">Eyebrow Label (Optional)</label>
    <span class="example-text">
    Fuel ... agility.
  </span>
  </pdi-accordion>
  <pdi-accordion title="Label Title">
    Fuel ... agility.
  </pdi-accordion>
</pdi-accordion-group>
<br>
<pdi-header></pdi-header>
<pdi-breadcrumbs [readAngularRouter]="false" [breadcrumbs]="customBreadcrumbs"></pdi-breadcrumbs>
<br>

 template -->
<!-- <pdi-combo-box [options]="basicOptions"
               placeholder="(None)"
               label="Combo Box Default"></pdi-combo-box>
<pdi-combo-box [options]="basicOptions"
               placeholder="(None)"
               [ngModel]="'Another Label'"
               label="Combo Box Preselected Value"></pdi-combo-box>
<span formGroup="form">
  <pdi-combo-box [options]="basicOptions"
                 placeholder="(None)"
                 formControlName="testControl"
                 label="Required"></pdi-combo-box>
</span>
<pdi-combo-box [options]="basicOptions"
               placeholder="(None)"
               [ngModel]="null"
               [disabled]="true"
               label="Disabled"></pdi-combo-box>
<pdi-combo-box [options]="basicOptions"
               placeholder="(None)"
               [readOnly]="true"
               label="Read Only"></pdi-combo-box>
<pdi-combo-box [options]="basicOptions"
               placeholder="(None)"
               [showNote]="true"
               label="Optional With Note"></pdi-combo-box>
<pdi-combo-box [options]="basicOptions"
               placeholder="(None)"
               [ngModel]="'Some Label'"
               required
               [showNote]="true"
               label="Required With Note"></pdi-combo-box>

               <br>
   
              
    <pdi-date-picker placeholder="Select a date..."
    label="Single Date Selection"></pdi-date-picker>

    <br>
    <pdi-footer
    [showPrivacyPolicyLink]="true"
    [showCookiePolicyLink]="true"
    [showTermsAndConditionLink]="true"
    [showFeedbackLink]="true"
    (onPrivacyPolicyClick)="click()"
    (onCookiePolicyClick)="click()"
    (onTermsAndConditionsClick)="click()"
    (onFeedbackClick)="click()" >
    

  </pdi-footer>

  <br>


<pdi-input [darkMode]="true" placeholder="Input Field i.e."
  [customErrorMessages]="{ 'customError': 'Field is required'}"
  formControlName="input"
  label="Dark Mode Error Field" >  <i class="pdi-icon-Home"></i></pdi-input>
<br>



<a pdiLink [pdiLinkShowEmptyBadge]="true" pdiLinkLabel="With Label">
  <i class="pdi-icon-Home"></i>
</a> -->
<a>hii </a>
<a pdiLink [iconOnly]="true"><i class="pdi-icon-Delete"></i> </a>
    
